[Desktop Entry]
Name=BetterDesk Client
NoDisplay=true
MimeType=x-scheme-handler/betterdesk;
TryExec=betterdesk
Exec=betterdesk %u
Icon=rustdesk
Terminal=false
Type=Application
StartupNotify=false
StartupWMClass=betterdesk
